.row.proximos-viajes
            each viaje in viajes
                .col-md-6.col-lg-4.mb-4
                    .card
                        img.card-img-top(src=`img/destinos_${viaje.imagen}.jpg`)

                        .card-body
                            h2= viaje.titulo
                            p
                                svg.icon.icon-tabler.icon-tabler-calendar-share(xmlns='http://www.w3.org/2000/svg' width='44' height='44' viewbox='0 0 24 24' stroke-width='1.5' stroke='#dc135f' fill='none' stroke-linecap='round' stroke-linejoin='round')
                                    path(stroke='none' d='M0 0h24v24H0z' fill='none')
                                    path(d='M12 21h-6a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v6')
                                    path(d='M16 3v4')
                                    path(d='M8 3v4')
                                    path(d='M4 11h16')
                                    path(d='M16 22l5 -5')
                                    path(d='M21 21.5v-4.5h-4.5')
                                |#{viaje.fecha_ida} - #{viaje.fecha_vuelta}

                            p
                                svg.icon.icon-tabler.icon-tabler-user-heart(xmlns='http://www.w3.org/2000/svg' width='44' height='44' viewbox='0 0 24 24' stroke-width='1.5' stroke='#dc135f' fill='none' stroke-linecap='round' stroke-linejoin='round')
                                    path(stroke='none' d='M0 0h24v24H0z' fill='none')
                                    path(d='M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0')
                                    path(d='M6 21v-2a4 4 0 0 1 4 -4h.5')
                                    path(d='M18 22l3.35 -3.284a2.143 2.143 0 0 0 .005 -3.071a2.242 2.242 0 0 0 -3.129 -.006l-.224 .22l-.223 -.22a2.242 2.242 0 0 0 -3.128 -.006a2.143 2.143 0 0 0 -.006 3.071l3.355 3.296z')
                                | #{viaje.disponibles} Disponibles

                            p= viaje.descripcion.substr(0, 150) + ' ...'
                            a(href=`viajes/${viaje.slug}`, class="btn btn-success btn-block") Más Información
